* {
    margin: 0;
}

#title{
    background-color:blue;
    text-align:center;
}


body{
    background-color:#e3f2fd;
}

#below{
    border-style:bold;
    border:5px;
    text-align:center;
    padding-left: 25%;;
    padding-right:25%;
    margin-top: 380px;
}